<div id="Login">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="" ng-click="goToHome()">
                    Wham
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="col-sm-7">
            <div class="register-form">
                <h2>Register</h2>
                <br />

                <label>First Name</label>
                <input type="text" class="form-control" ng-model="register.first"/>
                <br />

                <label>Last Name</label>
                <input type="text" class="form-control" ng-model="register.last" />
                <br />

                <label>Email</label>
                <input type="email" class="form-control" ng-model="register.email" />
                <br />

                <label>Password</label>
                <input type="password" class="form-control" ng-model="register.password" />
                <br />

                <label>Referal Code</label>
                <input type="number" class="form-control" ng-model="register.referal" />
                <br />

                <input type="button" class="btn btn-default btn-primary" value="Register" ng-click="registerUser()"/>
                <br />
            </div>

        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-4 ">
            <div class="login-form ">
                <h2>Sign in</h2>
                <br />

                <label>Email</label>
                <input type="email" class="form-control" ng-model="login.email"/>
                <br />

                <label>Password</label>
                <input type="password" class="form-control" ng-model="login.password" />
                <br />

                <input type="button" class="btn btn-default btn-primary" value="Sign in" ng-click="loginUser()"/>
                <br />
            </div>
        </div>
    </div>
</div>