<link rel="stylesheet" href="css/Profile-History.css" />
<div class="history">
    
    <nav>
        <ul>
            <li ng-class="{active:activeSubTabIndex==0}">
                <a href="" ng-click="openSubTab(0)"><span>Calender</span></a>
            </li>
            <li ng-class="{active:activeSubTabIndex==1}">
                <a href="" ng-click="openSubTab(1)"><span>Likes / Dislikes</span></a>
            </li>
        </ul>
    </nav>


    <div ng-show="activeSubTabIndex == 0">
        <div ng-show="loading"><center><img src='../img/squares.gif' ng-show='loading' id='spinner'></center></div>
        <div ng-repeat="eventData in history track by $index">
            <button class="btn-danger float-right" ng-click="deleteHistory($index)">X</button>
            <h3>{{eventData.eventName}}</h3>
            <div class="float-right">
                <a href="" ng-click="rateVenue(eventData.venueId,true)">Like</a>
                <a href="" ng-click="rateVenue(eventData.venueId,false)">Dislike</a>
            </div>

            <p>{{eventData.venueName}}</p>
            <p>{{eventData.address}}</p>

            <p>{{eventData.eventDate}}</p>
            <hr />
        </div>
    </div>

    <div ng-show="activeSubTabIndex == 1">
        <div class="row" ng-repeat="r in ratings">
            <p>r.name</p>
            <p>r.address</p>
            <p>r.rating</p>
        </div>
    </div>

</div>