<div id="SidePanel" ng-controller="SidePanelCtrl" ng-class="{'showSidePanel' : showSidePanel, 'hideSidePanel' : !showSidePanel}">
    
    <button ng-click="toggleSidePanel()" ng-show="!showSidePanel" class="glyphicon glyphicon-align-justify showSidePanelBtn"></button>

    <pageslide ps-open="showSidePanel" ps-push="true" ps-side="left">
        <div class="">
            <button ng-click="toggleSidePanel()" ng-show="showSidePanel" class="btn hideSidePanelBtn">Close</button>

            <h3>Filter & Search</h3>
            <div class="input-group filter">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="text" class="" placeholder="Username" aria-describedby="basic-addon1">
            </div><br />
            <div class="input-group filter">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="text" class="" placeholder="Username" aria-describedby="basic-addon1">
            </div><br />
            <div class="input-group filter">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="text" class="" placeholder="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </pageslide>
</div>
