<div id="SidePanel" ng-init="init()" ng-controller="SidePanelCtrl" ng-class="{'showSidePanel' : showSidePanel, 'hideSidePanel' : !showSidePanel}">
    <button ng-click="toggleSidePanel()" ng-show="!showSidePanel" class="glyphicon glyphicon-align-justify showSidePanelBtn"></button>
    <pageslide ps-open="showSidePanel"
               ps-push="true"
               ps-side="left"
               ps-speed="0.3">
        <div class="sidepanel-content">
            <button ng-click="toggleSidePanel()"
                    ng-show="showSidePanel"
                    class="btn hideSidePanelBtn">
                X
            </button>
            <h2>
                Filter & Search
            </h2>
            <br />
           
            <label>Type of Event</label>
            <span class="error">{{search.errors.type}}</span>
            <br />
            <div class="input-group ">
                <div class="input-group-addon"><span class="glyphicon glyphicon-glass"></span></div>
                <input type="text" class="form-control" ng-model="search.type" placeholder="Type" aria-describedby="basic-addon1"
                       ng-change="validate()" />
            </div><br />
            <label>From Date</label>
            <span class="error">{{search.errors.fromDate}}</span>
            <br />
            <div class="input-group ">
                <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                <input type="date" class="form-control" ng-model="search.fromDate" placeholder="From Date" aria-describedby="basic-addon1"
                       ng-change="validate()"
                       min="{{currDate | date:'yyyy-MM-dd'}}" />
            </div><br />
            <label>To Date</label>
            <span class="error">{{search.errors.toDate}}</span>
            <br />
            <div class="input-group ">
                <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                <input type="date" class="form-control" ng-model="search.toDate" placeholder="To Date" aria-describedby="basic-addon1"
                       ng-change="validate()" />
            </div><br />
           
        </div>
    </pageslide>
</div>